{*
/**
 * Site Footer Organism Component - Waboot Theme
 * Complete footer with menus, social links, and contact information
 *
 * @param {array} $footer_menus - Footer menu structure
 * @param {array} $social_links - Social media links
 * @param {string} $copyright_text - Copyright text
 * @param {boolean} $show_newsletter - Show newsletter signup
 * @param {string} $class - Additional CSS classes
 */
*}

{$footer_menus = $footer_menus|default:array()}
{$social_links = $social_links|default:array()}
{$copyright_text = $copyright_text|default:''}
{$show_newsletter = $show_newsletter|default:false}
{$class = $class|default:''}

{* Build CSS classes with BEM methodology *}
{$footer_classes = "waboot__footer bg-dark text-light py-5"}
{if $class}
    {$footer_classes = "{$footer_classes} {$class}"}
{/if}

<footer class="{$footer_classes}" role="contentinfo">
    <div class="container">
        {* Main Footer Content *}
        <div class="row gy-4">
            {* Company/Brand Column *}
            <div class="col-lg-4">
                <div class="waboot__footer__brand">
                    {* Logo *}
                    <div class="mb-3">
                        {include file="atoms/image.html" 
                            src="/images/logo-white.png"
                            alt="Company Logo"
                            class="waboot__footer__logo"
                            width="150"
                            height="50"
                        }
                    </div>
                    
                    {* Company Description *}
                    <p class="waboot__footer__description">
                        Building modern, accessible, and performant web experiences with the latest technologies.
                    </p>
                    
                    {* Contact Information *}
                    <div class="waboot__footer__contact">
                        <div class="d-flex align-items-center mb-2">
                            {include file="atoms/icon.html" 
                                name="envelope"
                                type="bootstrap"
                                size="sm"
                                class="me-2"
                                decorative=true
                            }
                            <a href="mailto:hello@example.com" class="text-light text-decoration-none">
                                hello@example.com
                            </a>
                        </div>
                        
                        <div class="d-flex align-items-center mb-2">
                            {include file="atoms/icon.html" 
                                name="telephone"
                                type="bootstrap"
                                size="sm"
                                class="me-2"
                                decorative=true
                            }
                            <a href="tel:+1234567890" class="text-light text-decoration-none">
                                +1 (234) 567-890
                            </a>
                        </div>
                        
                        <div class="d-flex align-items-start">
                            {include file="atoms/icon.html" 
                                name="geo-alt"
                                type="bootstrap"
                                size="sm"
                                class="me-2 mt-1"
                                decorative=true
                            }
                            <address class="mb-0">
                                123 Business Street<br>
                                City, State 12345
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            
            {* Footer Menus *}
            {if $footer_menus}
                {foreach $footer_menus as $menu}
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="waboot__footer__menu">
                            {include file="atoms/heading.html" 
                                level="h5"
                                text=$menu.title
                                class="waboot__footer__menu-title text-white mb-3"
                            }
                            
                            <ul class="list-unstyled waboot__footer__menu-list">
                                {foreach $menu.items as $item}
                                    <li class="mb-2">
                                        {include file="atoms/link.html" 
                                            url=$item.url
                                            text=$item.text
                                            class="text-light text-decoration-none waboot__footer__link"
                                            title=$item.title
                                        }
                                    </li>
                                {/foreach}
                            </ul>
                        </div>
                    </div>
                {/foreach}
            {else}
                {* Default Menu Structure *}
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="waboot__footer__menu">
                        {include file="atoms/heading.html" 
                            level="h5"
                            text="Company"
                            class="waboot__footer__menu-title text-white mb-3"
                        }
                        
                        <ul class="list-unstyled waboot__footer__menu-list">
                            <li class="mb-2">
                                {include file="atoms/link.html" 
                                    url="/about/"
                                    text="About Us"
                                    class="text-light text-decoration-none waboot__footer__link"
                                }
                            </li>
                            <li class="mb-2">
                                {include file="atoms/link.html" 
                                    url="/contact/"
                                    text="Contact"
                                    class="text-light text-decoration-none waboot__footer__link"
                                }
                            </li>
                            <li class="mb-2">
                                {include file="atoms/link.html" 
                                    url="/careers/"
                                    text="Careers"
                                    class="text-light text-decoration-none waboot__footer__link"
                                }
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="waboot__footer__menu">
                        {include file="atoms/heading.html" 
                            level="h5"
                            text="Support"
                            class="waboot__footer__menu-title text-white mb-3"
                        }
                        
                        <ul class="list-unstyled waboot__footer__menu-list">
                            <li class="mb-2">
                                {include file="atoms/link.html" 
                                    url="/help/"
                                    text="Help Center"
                                    class="text-light text-decoration-none waboot__footer__link"
                                }
                            </li>
                            <li class="mb-2">
                                {include file="atoms/link.html" 
                                    url="/privacy/"
                                    text="Privacy Policy"
                                    class="text-light text-decoration-none waboot__footer__link"
                                }
                            </li>
                            <li class="mb-2">
                                {include file="atoms/link.html" 
                                    url="/terms/"
                                    text="Terms of Service"
                                    class="text-light text-decoration-none waboot__footer__link"
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            {/if}
            
            {* Newsletter Signup *}
            {if $show_newsletter}
                <div class="col-lg-4">
                    <div class="waboot__footer__newsletter">
                        {include file="atoms/heading.html" 
                            level="h5"
                            text="Stay Updated"
                            class="waboot__footer__newsletter-title text-white mb-3"
                        }
                        
                        <p class="waboot__footer__newsletter-description mb-3">
                            Subscribe to our newsletter for the latest updates and insights.
                        </p>
                        
                        {include file="molecules/newsletter-form.html" 
                            class="waboot__footer__newsletter-form"
                        }
                    </div>
                </div>
            {/if}
        </div>
        
        {* Footer Bottom *}
        <hr class="my-4 border-secondary">
        
        <div class="row align-items-center">
            {* Copyright *}
            <div class="col-md-6">
                <p class="waboot__footer__copyright mb-0 text-muted">
                    {if $copyright_text}
                        {$copyright_text|escape}
                    {else}
                        &copy; {date('Y')} Your Company Name. All rights reserved.
                    {/if}
                </p>
            </div>
            
            {* Social Links *}
            <div class="col-md-6">
                {if $social_links}
                    <div class="waboot__footer__social d-flex justify-content-md-end justify-content-start">
                        {foreach $social_links as $social}
                            <a href="{$social.url|escape}" 
                               class="text-light me-3 waboot__footer__social-link"
                               title="{$social.name|escape}"
                               target="_blank"
                               rel="noopener noreferrer"
                            >
                                {include file="atoms/icon.html" 
                                    name=$social.icon
                                    type="bootstrap"
                                    size="lg"
                                    title="Follow us on {$social.name}"
                                }
                            </a>
                        {/foreach}
                    </div>
                {else}
                    {* Default Social Links *}
                    <div class="waboot__footer__social d-flex justify-content-md-end justify-content-start">
                        <a href="#" class="text-light me-3 waboot__footer__social-link" title="Facebook">
                            {include file="atoms/icon.html" 
                                name="facebook"
                                type="bootstrap"
                                size="lg"
                                title="Follow us on Facebook"
                            }
                        </a>
                        <a href="#" class="text-light me-3 waboot__footer__social-link" title="Twitter">
                            {include file="atoms/icon.html" 
                                name="twitter"
                                type="bootstrap"
                                size="lg"
                                title="Follow us on Twitter"
                            }
                        </a>
                        <a href="#" class="text-light me-3 waboot__footer__social-link" title="LinkedIn">
                            {include file="atoms/icon.html" 
                                name="linkedin"
                                type="bootstrap"
                                size="lg"
                                title="Follow us on LinkedIn"
                            }
                        </a>
                        <a href="#" class="text-light waboot__footer__social-link" title="Instagram">
                            {include file="atoms/icon.html" 
                                name="instagram"
                                type="bootstrap"
                                size="lg"
                                title="Follow us on Instagram"
                            }
                        </a>
                    </div>
                {/if}
            </div>
        </div>
    </div>
</footer>