{*
/**
 * Image Atom Component
 * Responsive image component with accessibility and lazy loading
 *
 * @param {string} $src - Image source URL
 * @param {string} $alt - Alt text for accessibility
 * @param {string} $title - Image title attribute
 * @param {string} $class - Additional CSS classes
 * @param {string} $width - Image width
 * @param {string} $height - Image height
 * @param {boolean} $lazy - Enable lazy loading
 * @param {boolean} $responsive - Make image responsive
 * @param {string} $srcset - Responsive image srcset
 * @param {string} $sizes - Responsive image sizes
 */
*}

{$src = $src|default:''}
{$alt = $alt|default:''}
{$title = $title|default:''}
{$class = $class|default:''}
{$width = $width|default:''}
{$height = $height|default:''}
{$lazy = $lazy|default:true}
{$responsive = $responsive|default:true}
{$srcset = $srcset|default:''}
{$sizes = $sizes|default:''}

{* Build CSS classes with BEM methodology *}
{$image_classes = "site__image"}
{if $responsive}
    {$image_classes = "{$image_classes} img-fluid"}
{/if}
{if $class}
    {$image_classes = "{$image_classes} {$class}"}
{/if}

{* Render image element *}
<img 
    {if $lazy}
        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
        data-src="{$src|escape}"
        loading="lazy"
    {else}
        src="{$src|escape}"
    {/if}
    alt="{$alt|escape}"
    class="{$image_classes}"
    {if $title}title="{$title|escape}"{/if}
    {if $width}width="{$width}"{/if}
    {if $height}height="{$height}"{/if}
    {if $srcset}
        {if $lazy}
            data-srcset="{$srcset|escape}"
        {else}
            srcset="{$srcset|escape}"
        {/if}
    {/if}
    {if $sizes}sizes="{$sizes|escape}"{/if}
>